

.grid-layout {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  grid-gap: 5px;
  grid-auto-rows: minmax(180px, auto);
  grid-auto-flow: dense;
  padding: 10px;
}

.grid-item {
  padding: 1rem;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  /*color: #929796;*/
  color: #ddd;
  background-color: #333;
  /*border-radius: 5px;*/
}
.grid-item:nth-child(odd) {
  background-color: #424242;
}

.span-2 {
  grid-column-end: span 2;
  grid-row-end: span 2;
}

.span-3 {
  grid-column-end: span 3;
  grid-row-end: span 4;
}
.span-12 {
  grid-row-end: span 1;
  grid-column-end: span 2;
}
.span-13 {
  grid-row-end: span 1;
  grid-column-end: span 3;
}
.span-14 {
  grid-row-end: span 1;
  grid-column-end: span 4;
}
.span-16 {
  grid-row-end: span 1;
  grid-column-end: span 6;
}
.span-17 {
  grid-row-end: span 1;
  grid-column-end: span 7;
}
.span-19 {
  grid-row-end: span 1;
  grid-column-end: span 9;
}
.span-23 {
  grid-row-end: span 2;
  grid-column-end: span 3;
}
.span-33 {
  grid-row-end: span 3;
  grid-column-end: span 3;
}

.farspeech-btn{
  border: 2px solid #b04f60;
  background: none !important;
  color: #b04f60;
  font-size: 20px;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  cursor: pointer;
  transition: 0.8s;
  position: relative;
  overflow: hidden;
}

.farspeech-btn-pressed{
  border: 2px solid #b04f60;
  background: #b04f60 !important;
  color: white;
}

.farspeech-btn:hover{
  color: white;
}
.farspeech-btn::before{
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0%;
  background: #b04f60;
  z-index: -1;
  transition: 0.8s;
  top: 0;
  border-radius: 0 0 50% 50%;
}
.farspeech-btn:hover::before{
  height: 180%;
}

.grid-item-11{
  position: relative;
  overflow: hidden;
  /*background-image: url("../qcri-old.jpg");*/
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #767561 !important;
  padding-top: 30% !important;
}

.grid-item-5{
  background-color: #779fa1 !important;
  text-align: start;
  max-height: 330px;
}
.grid-item-6{
  background-color: #2ec4b6 !important;
  text-align: start;
  max-height: 330px;
}
.grid-item-8{
  background-color: #264653 !important;
  max-height: 330px;
}
.grid-item-9{
  background-color: #efa9ae !important;
}
.grid-item-10{
  background-color: #7fb285 !important;
  text-align: start;
  max-height: 330px;
}
.grid-item-13{
  /*background-color: #012172 !important;*/
  background-color: #118c8b !important;
  max-height: 330px;
}
.grid-item-14{
  /*position: relative;*/
  /*overflow: hidden;*/
  /*background-image: url("../qcri-hbku.svg");*/
  /*background-size: contain;*/
  /*background-repeat: no-repeat;*/
  background-color: white !important;
}
.grid-item-17{
  /*background-color: #f5b700 !important;*/
  background-color: #fce181 !important;
}
.grid-item-19{
  color: #555;
  background-color: white !important;
}
.grid-item-21{
  /*background-color: #037971 !important;*/
  background-color: #065b48 !important;
}
.grid-item-22{
  background-color: #e85f5c !important;
}
.grid-item-23{
  background-color: white !important;
  border: 2px dashed gray;
  padding: 0;
}
.map-text{
  color: #000000;
  background-color: #00bfb3;
  width: 60%;
  padding: 0.2em;
  margin-left: 15px;
  opacity: 0.6;
}
#trans{
  font-family: 'Scheherazade', serif;
  font-size: 30px;

  color: white;
  height: 95%;
  direction: rtl;
  margin-top: 10px;
  overflow-y: scroll;
  line-height: 1.40455;
  background-color: transparent;
  width: 100%;
  border-width: 0;
}
.textspace{
  font-family: 'Scheherazade', serif;
  font-size: 40px !important;
  overflow-y: scroll;
  color: white;
  height: 95%;
  direction: rtl;
  margin-top: 10px;
  overflow-y: scroll;
  line-height: 1.20455;
  background-color: transparent;
  width: 100%;
  /*font-weight: normal;*/
}
.textspace-en{
  font-family: 'Scheherazade', serif;
  font-size: 40px !important;
  overflow-y: scroll;
  color: white;
  height: 95%;
  margin-top: 10px;
  overflow-y: scroll;
  line-height: 1.20455;
  background-color: transparent;
  width: 100%;
  /*font-weight: normal;*/
}
.textspace p{
  font-size: 40px !important;
}
.text-success{
  color: green;
}
.text-danger{
  color: red;
}
.text-primary{
  color: #0000FF;
}
